<p>It shows all the people</p>

{{link-to 'Show Person' 'people.show'}}

<ul>
  {{#each person in controller}}
    <li>{{link-to person.name 'people.show' person}}</li>
    <!-- 3 args: 1st: text that shows up, 2nd: path, 3rd: MODEL we're interracting with -->
  {{/each}}
</ul>
